<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.magicbeans.happygo.mapper.BankMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.magicbeans.happygo.entity.Bank">
    <result column="id" property="id" />
    <result column="create_time" property="createTime" />
    <result column="update_time" property="updateTime" />
        <result column="userId" property="userId" />
        <result column="accountName" property="accountName" />
        <result column="bankNumber" property="bankNumber" />
        <result column="bankName" property="bankName" />
        <result column="isValid" property="isValid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
    id,
    create_time AS createTime,
    update_time AS updateTime,
        userId, accountName, bankNumber, bankName, isValid
    </sql>

</mapper>
