<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.magicbeans.happygo.mapper.BannerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.magicbeans.happygo.entity.Banner">
    <result column="id" property="id" />
        <result column="productId" property="productId" />
        <result column="img" property="img" />
        <result column="link" property="link" />
        <result column="type" property="type" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>
    <resultMap id="BaseResultMapProduct" type="com.magicbeans.happygo.entity.Banner" extends="BaseResultMap">
        <association property="product" columnPrefix="p_"
                     resultMap="com.magicbeans.happygo.mapper.ProductMapper.BaseResult"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
    id,
        productId, img, link, `type`
    </sql>

    <select id="list" resultMap="BaseResultMapProduct" parameterType="map">
        SELECT
        b.*,p.name AS p_name
        FROM t_banner b
        LEFT JOIN t_product p ON b.productId = p.id
        WHERE 1 = 1
        <if test="title != null and title != ''">
            AND b.title like '%${title}%'
        </if>
        <if test="name != null and name != ''">
            AND b.name like '%${name}%'
        </if>
        <if test="productName != null and productName != ''">
            AND p.name like '%${productName}%'
        </if>
        <if test="type != null">
            AND b.type = #{type}
        </if>
        <if test="createTimeStart != null">
            AND b.create_time <![CDATA[ >= ]]> #{createTimeStart}
        </if>
        <if test="createTimeEnd != null">
            AND b.create_time <![CDATA[ <= ]]> #{createTimeEnd}
        </if>
        ORDER BY
        b.create_time DESC
        <if test="pages != null">
            limit #{pages.current}, #{pages.size}
        </if>
    </select>


    <select id="listCount" resultType="java.lang.Integer" parameterType="map">
        SELECT
        COUNT(0)
        FROM t_banner b
        LEFT JOIN t_product p ON b.productId = p.id
        WHERE 1 = 1
        <if test="title != null and title != ''">
            AND b.title like '%${title}%'
        </if>
        <if test="name != null and name != ''">
            AND b.name like '%${name}%'
        </if>
        <if test="productName != null and productName != ''">
            AND p.name like '%${productName}%'
        </if>
        <if test="type != null">
            AND b.type = #{type}
        </if>
        <if test="createTimeStart != null">
            AND b.create_time <![CDATA[ >= ]]> #{createTimeStart}
        </if>
        <if test="createTimeEnd != null">
            AND b.create_time <![CDATA[ <= ]]> #{createTimeEnd}
        </if>
    </select>

</mapper>
