<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.magicbeans.happygo.mapper.IncomeDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.magicbeans.happygo.entity.IncomeDetail">
        <result column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="fromUserId" property="fromUserId"/>
        <result column="toUserId" property="toUserId"/>
        <result column="type" property="type"/>
        <result column="productName" property="productName"/>
        <result column="price" property="price"/>
        <result column="number" property="number"/>
        <result column="productCoverImg" property="productCoverImg"/>
        <result column="bigDecimal" property="bigDecimal"/>
        <result column="orderId" property="orderId"/>
        <result column="productId" property="productId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
    id,
    create_time AS createTime,
    update_time AS updateTime,
        fromUserId, toUserId, `type`, productName, price, `number`, productCoverImg, bigDecimal, orderId, productId
    </sql>


    <select id="queryIncomeDetailByItem" resultMap="BaseResultMap">
        SELECT
            tid.*
        FROM
            t_income_detail tid
        WHERE
            tid.fromUserId = #{fromUserId}
        AND tid.toUserId = #{toUserId}
        AND tid.`type` NOT IN (2)
        ORDER BY
            tid.create_time DESC
        <if test="limit and limitSize != null">
            LIMIT #{limit},#{limitSize}
        </if>
    </select>


    <select id="countIncome" resultType="map">
        SELECT
            IFNULL(SUM(IFNULL(tid.bigDecimal,0)),0) AS balance,
            IFNULL((SELECT SUM(IFNULL(tt.bigDecimal,0))
            FROM t_income_detail tt WHERE DATE_FORMAT(tt.create_time,'%y-%m-%d') = DATE_FORMAT(NOW(),'%y-%m-%d')
            AND tt.type = 1 AND tt.toUserId = tid.toUserId),0) AS todayIncome,
            IFNULL((SELECT SUM(IFNULL(tt.bigDecimal,0)) FROM t_income_detail tt WHERE tt.type IN (0,1) AND tt.toUserId = tid.toUserId),0) AS totalIncome,
            IFNULL((SELECT SUM(IFNULL(tt.bigDecimal,0)) FROM t_income_detail tt WHERE tt.type IN (0)
                            AND tt.toUserId = tid.toUserId AND tt.toUserId != tt.fromUserId),0) AS distributionIncome,
            IFNULL((SELECT SUM(score) FROM t_user_score us WHERE us.userId = tid.toUserId),0) AS totalScore
        FROM
            t_income_detail tid
        WHERE
            tid.toUserId = #{toUserId}
    </select>

</mapper>
