<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.magicbeans.happygo.mapper.IUserMapper">

    <cache type="com.magicbeans.happygo.mybatis.cache.MybatisRedisCache"/>

    <resultMap id="BaseUser" type="com.magicbeans.happygo.entity.User">
        <result column="id" property="id"/>
        <result column="phone" property="phone"/>
        <result column="pwd" property="pwd"/>
        <result column="payPwd" property="payPwd"/>
        <result column="nickName" property="nickName"/>
        <result column="profilePicture" property="profilePicture"/>
        <result column="email" property="email"/>
        <result column="idNumber" property="idNumber"/>
        <result column="gender" property="gender"/>
        <result column="birthday" property="birthday"/>
        <result column="roleId" property="roleId"/>
        <result column="idNumberAttachment" property="idNumberAttachment"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="legalPerson" property="legalPerson"/>
        <result column="businessLicenseImg" property="businessLicenseImg"/>
        <result column="businessLicenseNumber" property="businessLicenseNumber"/>
        <result column="applyReason" property="applyReason"/>
        <result column="token" property="token"/>
        <result column="deviceToken" property="deviceToken"/>
        <result column="deviceType" property="deviceType"/>
        <result column="parentId" property="parentId"/>
        <result column="status" property="status"/>
        <result column="score" property="score"/>
    </resultMap>


    <select id="queryUserByPhone" resultMap="BaseUser">
        SELECT * FROM t_users WHERE phone = #{phone}
    </select>


</mapper>