<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.magicbeans.happygo.mapper.IUserMapper">

    <cache type="com.magicbeans.happygo.mybatis.cache.MybatisRedisCache"/>

    <resultMap id="BaseUser" type="com.magicbeans.happygo.entity.User">
        <result column="id" property="id"/>
        <result column="phone" property="phone"/>
        <result column="pwd" property="pwd"/>
        <result column="payPwd" property="payPwd"/>
        <result column="nickName" property="nickName"/>
        <result column="profilePicture" property="profilePicture"/>
        <result column="email" property="email"/>
        <result column="idNumber" property="idNumber"/>
        <result column="gender" property="gender"/>
        <result column="birthday" property="birthday"/>
        <result column="roleId" property="roleId"/>
        <result column="idNumberAttachment" property="idNumberAttachment"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="legalPerson" property="legalPerson"/>
        <result column="businessLicenseImg" property="businessLicenseImg"/>
        <result column="businessLicenseNumber" property="businessLicenseNumber"/>
        <result column="applyReason" property="applyReason"/>
        <result column="token" property="token"/>
        <result column="deviceToken" property="deviceToken"/>
        <result column="deviceType" property="deviceType"/>
        <result column="parentId" property="parentId"/>
        <result column="status" property="status"/>
        <result column="score" property="score"/>
        <result column="realName" property="realName"/>
        <result column="shareCode" property="shareCode"/>
    </resultMap>


    <resultMap id="BaseDistributionUser" type="com.magicbeans.happygo.dto.DistributionUser">
        <result column="id" property="userId"/>
        <result column="nickName" property="nickName"/>
        <result column="profilePicture" property="profilePicture"/>
        <result column="bigDecimal" property="bigDecimal"/>
    </resultMap>


    <select id="queryUserByPhone" resultMap="BaseUser">
        SELECT * FROM t_users WHERE phone = #{phone}
    </select>


    <select id="queryDistributionUser" resultType="com.magicbeans.happygo.dto.DistributionUser">
        SELECT
            u.id,
            u.nickName,
            u.profilePicture,
            (SELECT SUM(ii.bigDecimal) FROM t_income_detail ii
            WHERE  ii.fromUserId = u.id AND ii.toUserId = #{userId}) AS bigDecimal
        FROM
            t_users u
        WHERE
            1=1
            <if test="levelType == 1">
                AND u.parentId = #{userId}
            </if>
            <if test="levelType == 2">
                AND u.parentId IN (SELECT id FROM t_users WHERE parentId = #{userId})
            </if>
            <if test="levelType == 3">
                AND u.parentId IN (SELECT t.id FROM t_users t WHERE t.parentId
                IN (SELECT f.id FROM t_users f WHERE f.parentId = #{userId}))
            </if>
            <if test="limit != null and limitSize != null">
                LIMIT #{limit},#{limitSize}
            </if>
    </select>

    <select id="queryUserByShareCode" resultMap="BaseUser">
        SELECT * FROM t_users WHERE shareCode = #{shareCode}
    </select>


    <select id="queryAllUser" resultMap="BaseUser">
        SELECT
            u.id,
            IFNULL((SELECT SUM(tus.score) FROM t_user_score tus WHERE tus.userId = u.id),0) AS score
        FROM
            t_users u
    </select>


</mapper>