<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.magicbeans.happygo.mapper.OrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.magicbeans.happygo.entity.Order">
    <result column="id" property="id" />
    <result column="create_time" property="createTime" />
    <result column="update_time" property="updateTime" />
        <result column="orderNumber" property="orderNumber" />
        <result column="userId" property="userId" />
        <result column="status" property="status" />
        <result column="addressId" property="addressId" />
        <result column="price" property="price" />
        <result column="payMethod" property="payMethod" />
        <result column="freight" property="freight" />
        <result column="userIsValid" property="userIsValid" />
        <result column="bankImg" property="bankImg" />
        <result column="adminOk" property="adminOk" />
        <result column="adminId" property="adminId" />
        <result column="expressNumber" property="expressNumber" />
        <result column="nickName" property="nickName" />
        <result column="username" property="username" />
        <result column="address" property="address" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
    id,
    create_time AS createTime,
    update_time AS updateTime,
        orderNumber, userId, status, addressId, price, payMethod, freight
    </sql>

    <select id="countOrderPrice" resultType="decimal">
        SELECT
            IFNULL(
                SUM(CASE p.isPromotion WHEN 1 THEN p.promotionPrice
                                                         ELSE p.price END * tp.number),0) AS price
        FROM
            t_order_product tp,
            t_product p
        WHERE
            tp.orderId = #{orderId}
        AND tp.productId = p.id
    </select>


    <resultMap id="OrderListVO" type="com.magicbeans.happygo.vo.OrderListVO">
        <result column="orderId" property="orderId"/>
        <result column="orderNumber" property="orderNumber"/>
        <result column="status" property="status"/>
        <result column="price" property="price"/>
        <result column="freight" property="freight"/>
        <association property="products" column="orderId" select="com.magicbeans.happygo.mapper.OrderProductMapper.queryOrderProduct"/>
    </resultMap>

    <select id="queryOrderList" resultType="com.magicbeans.happygo.vo.OrderDetailVO">
        SELECT
            o.id AS orderId,
            o.orderNumber,
            o.`status`,
            o.price,
            o.freight
        FROM
            t_order o
        WHERE
            o.userId = #{userId}
        AND o.userIsValid = 1
        <if test="status != null">
            AND o.`status` = #{status}
        </if>
        ORDER BY o.create_time DESC
        <if test="limit != null  and limitSize != null">
            LIMIT #{limit},#{limitSize}
        </if>
    </select>

    <select id="queryOrderDetail" resultType="com.magicbeans.happygo.vo.OrderDetailVO">
        SELECT
            o.id AS orderId,
            o.orderNumber,
            o.`status`,
            o.price,
            o.freight,
            o.create_time AS createTime,
            CASE o.payMethod WHEN 0 THEN '支付宝支付'
                                             WHEN 1 THEN '微信支付'
                                             WHEN 2 THEN '欢喜券支付'
                                             WHEN 3 THEN '线下支付'
                                             ELSE '无' END AS payMethod,
            CONCAT(cc.mergerName,ta.detailAddress) AS `address`,
            ta.contacts AS consignee,
            ta.phone AS phone
        FROM
            t_order o
        LEFT JOIN t_address ta ON o.addressId = ta.id
        LEFT JOIN citys cc ON cc.id = ta.cityId
        WHERE
            o.id = #{orderId}
    </select>


    <select id="list" resultMap="BaseResultMap" parameterType="map">
        SELECT
        o.*,u.nickName,a.username,addr.detailAddress AS address
        FROM t_users u,t_address addr,t_order o
        LEFT JOIN admin a ON o.adminId = a.id
        WHERE 1 = 1
        AND u.id = o.userId
        AND addr.id = o.addressId
        <if test="orderNumber != null and orderNumber != ''">
            AND o.orderNumber like '%${orderNumber}%'
        </if>
        <if test="expressNumber != null and expressNumber != ''">
            AND o.expressNumber like '%${expressNumber}%'
        </if>
        <if test="nickName != null and nickName != ''">
            AND u.nickName like '%${nickName}%'
        </if>
        <if test="username != null and username != ''">
            AND a.username like '%${username}%'
        </if>
        <if test="status != null">
            AND o.status = #{status}
        </if>
        <if test="payMethod != null">
            AND o.payMethod = #{payMethod}
        </if>
        <if test="userIsValid != null">
            AND o.userIsValid = #{userIsValid}
        </if>
        <if test="adminOk != null">
            AND o.adminOk = #{adminOk}
        </if>
        <if test="createTimeStart != null">
            AND o.create_time <![CDATA[ >= ]]> #{createTimeStart}
        </if>
        <if test="createTimeEnd != null">
            AND o.create_time <![CDATA[ <= ]]> #{createTimeEnd}
        </if>
        ORDER BY
        o.create_time DESC
        <if test="pages != null">
            limit #{pages.pages}, #{pages.size}
        </if>
    </select>


    <select id="listCount" resultType="java.lang.Integer" parameterType="map">
        SELECT
        COUNT(0)
        FROM t_users u,t_order o
        LEFT JOIN admin a ON o.adminId = a.id
        WHERE 1 = 1
        AND u.id = o.userId
        <if test="orderNumber != null and orderNumber != ''">
            AND o.orderNumber like '%${orderNumber}%'
        </if>
        <if test="expressNumber != null and expressNumber != ''">
            AND o.expressNumber like '%${expressNumber}%'
        </if>
        <if test="nickName != null and nickName != ''">
            AND u.nickName like '%${nickName}%'
        </if>
        <if test="username != null and username != ''">
            AND a.username like '%${username}%'
        </if>
        <if test="status != null">
            AND o.status = #{status}
        </if>
        <if test="payMethod != null">
            AND o.payMethod = #{payMethod}
        </if>
        <if test="userIsValid != null">
            AND o.userIsValid = #{userIsValid}
        </if>
        <if test="adminOk != null">
            AND o.adminOk = #{adminOk}
        </if>
        <if test="createTimeStart != null">
            AND o.create_time <![CDATA[ >= ]]> #{createTimeStart}
        </if>
        <if test="createTimeEnd != null">
            AND o.create_time <![CDATA[ <= ]]> #{createTimeEnd}
        </if>
    </select>


</mapper>
