<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.magicbeans.happygo.mapper.OrderProductMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.magicbeans.happygo.entity.OrderProduct">
        <result column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="orderId" property="orderId"/>
        <result column="productId" property="productId"/>
        <result column="number" property="number"/>
        <result column="price" property="price"/>
        <result column="productName" property="productName"/>
        <result column="productCover" property="productCover"/>
        <result column="productDetail" property="productDetail"/>
        <result column="integral" property="integral"/>
        <result column="isIntegral" property="isIntegral"/>
        <result column="ticket" property="ticket"/>
    </resultMap>

    <resultMap id="IncludeProduct" type="com.magicbeans.happygo.entity.OrderProduct" extends="BaseResultMap">
        <association property="product" columnPrefix="p_" resultMap="com.magicbeans.happygo.mapper.ProductMapper.BaseResult"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
    id,
    create_time AS createTime,
    update_time AS updateTime,
        orderId, productId, number, price, productName, productCover, productDetail
    </sql>

    <select id="queryOrderProductByOrder" resultMap="IncludeProduct">
        SELECT
            op.id,
            op.orderId,
            op.productId,
            op.number,
            p.price AS price,
            p.`name` AS productName,
            p.coverImg AS productCover,
            p.id AS p_id,
            p.`name` AS p_name,
            p.number AS p_number,
            p.`describe` AS p_describe,
            p.productCategoryId AS p_productCategoryId,
            p.price AS p_price,
            p.isPromotion AS p_isPromotion,
            p.promotionPrice AS p_promotionPrice,
            p.isIntegral AS p_isIntegral,
            p.integral AS p_integral,
            p.isHot AS p_isHot,
            p.coverImg AS p_coverImg,
            p.imgJsonAryStr AS p_imgJsonAryStr,
            p.create_time AS p_create_time,
            p.update_time AS p_update_time
        FROM
            t_order_product op,
            t_product p
        WHERE
            op.orderId = #{orderId}
            AND op.productId = p.id
    </select>


    <select id="queryOrderProduct" resultMap="IncludeProduct">
        SELECT
            op.*,
            p.price AS price,
            p.`name` AS productName,
            p.coverImg AS productCover,
            p.id AS p_id,
            p.`name` AS p_name,
            p.number AS p_number,
            p.`describe` AS p_describe,
            p.productCategoryId AS p_productCategoryId,
            p.price AS p_price,
            p.isPromotion AS p_isPromotion,
            p.promotionPrice AS p_promotionPrice,
            p.isIntegral AS p_isIntegral,
            p.integral AS p_integral,
            p.isHot AS p_isHot,
            p.coverImg AS p_coverImg,
            p.imgJsonAryStr AS p_imgJsonAryStr,
            p.create_time AS p_create_time,
            p.update_time AS p_update_time
        FROM
            t_order_product op,
            t_product p
        WHERE
            op.orderId = #{orderId}
            AND op.productId = p.id
    </select>


</mapper>
