<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.magicbeans.happygo.mapper.ProductMapper">

    <cache type="com.magicbeans.happygo.mybatis.cache.MybatisRedisCache"/>

    <resultMap id="BaseResult" type="com.magicbeans.happygo.entity.Product">
        <id column="id" property="id" />
        <result column="name" property="name"/>
        <result column="number" property="number"/>
        <result column="describe" property="describe"/>
        <result column="productCategoryId" property="productCategoryId"/>
        <result column="price" property="price"/>
        <result column="isPromotion" property="isPromotion"/>
        <result column="promotionPrice" property="promotionPrice"/>
        <result column="isIntegral" property="isIntegral"/>
        <result column="integral" property="integral"/>
        <result column="isHot" property="isHot"/>
        <result column="create_time" property="create_time"/>
        <result column="update_time" property="update_time"/>
        <!-- 业务字段 -->
        <result column="productCategoryName" property="productCategoryName"/>
    </resultMap>


    <select id="getProduct" resultType="com.magicbeans.happygo.vo.ProductVO">
        SELECT
            p.id AS productId,
            p.`name` AS productName,
            p.coverImg AS productCoverImg,
            p.price AS price,
            p.promotionPrice AS promotionPrice,
            (SELECT COUNT(0) FROM t_comment tc WHERE p.id = tc.productId) AS comments,
            (SELECT (SUM(tc.score) / COUNT(0)) FROM t_comment tc WHERE p.id = tc.productId) AS commentRatio
        FROM
            t_product p
        WHERE
          1 = 1
          <if test="productCategoryId != null">
              AND p.productCategoryId = #{productCategoryId}
          </if>
          <if test="isPromotion != null">
              AND p.isPromotion = #{isPromotion}
          </if>
          <if test="isIntegral != null">
              AND p.isIntegral = #{isIntegral}
          </if>
          <if test="isHot != null">
              AND p.isHot = #{isHot}
          </if>
          ORDER BY commentRatio DESC
          <if test="limit != null and limitSize != null">
              LIMIT #{limit},#{limitSize}
          </if>
    </select>

    <select id="searchProduct" resultType="com.magicbeans.happygo.vo.ProductVO">
        SELECT
            p.id AS productId,
            p.`name` AS productName,
            p.coverImg AS productCoverImg,
            p.price AS price,
            (SELECT COUNT(0) FROM t_comment tc WHERE p.id = tc.productId) AS comments,
            (SELECT (SUM(tc.score) / COUNT(0)) FROM t_comment tc WHERE p.id = tc.productId) AS commentRatio
        FROM
            t_product p
        WHERE
          1 = 1
          <if test="productName != null">
              AND p.`name` LIKE '%${productName}%'
          </if>
          ORDER BY commentRatio DESC
          <if test="limit != null and limitSize != null">
              LIMIT #{limit},#{limitSize}
          </if>
    </select>
</mapper>